<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Заголовок страницы сайта</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

</head>
<body style = 'background: silver'>
  {% block content %}

  {% endblock %}
<div class="jumbotron">
    <div class="container">
        <h1>Привет, мы занимаемся производством мебели</h1>
        <p> Вы можете заказать мебель, и мы изготовим индивидуально под вас</p>
        <p>
        <a href="/" class="btn btn-success btn-lg"> Главная страница кнопка</a>
        <a href="/news" class="btn btn-success btn-lg"> Инфа узнать
            &raquo;</a>
        <a><button type="button" class="btn btn-primary" data-bs-toggle="button">Мебель</button></a>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Link</a>
              <button class="btn btn-primary" type="button">Button</button>
        </p>

    </div>
</div>
<div class="container">
    <img scr="{% static'mainApp/img/ee.jpg' %}" class="img-thumbnail">
    <hr>
    &copy; Сайт магазна сделан
</div>

</body>
</html>