<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок страницы сайта</title>
</head>
<body style = 'background: silver'>
  {% block content %}

  {% endblock %}
<div class="jumbotron">
    <div class="container">
        <h1>Привет, мы занимаемся производством мебели</h1>
        <p> Вы можете заказать мебель, и мы изготовим индивидуально под вас</p>
        <p>
        <a href="/" class="btn btn-success btn-lg"> Главная страница кнопка</a>
        <a href="/news" class="btn btn-success btn-lg"> Инфа узнать</a>
        </p>
    </div>
</div>
<div class="container">ghgh</div>

</body>
</html>